/*
セレクタ { プロパティ名: 値;}

ユニバーサルセレクタ
  要素名 p h1 p div
  #id
  .class
*/

/* h1 { color: skyblue }
#first { color: red }
p { color: green}
/a[href]:hover { color: violet }
p:before {
  content: "bef";
} */
/* div{
    background: silver;
    width: 100px;
    height: 100px;
  } */

body{margin: 0;}

div#box1{
    background: silver;
    padding: 10px;
}

div#box2{
    background: orange;
    margin: 20px;
}

div#box3{
  background: skyblue;
  list-style: circle;
}

.container{
  display: table;
  width: 300px;
}

.box{
  display: table-cell;
  width: 300px;
  height: 300px;
}

.row{
  display: table-row;
}

.gray {background: gray}
.red {background: red}
.purple {background: purple}


#b1{
  width: 100px;
  height: 50px;
  background: red;
  position: relative;
  top: 10px;
  left: 10px;
}

#b2{
  width: 100px;
  height: 50px;
  background: blue;
}

#b3{
  width: 50px;
  height: 25px;
  background: yellow;
}


#c1{
  width: 100px;
  height: 100px;
  background: silver;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
  overflow: scroll;
  font-size: 15px;
  line-height: 20px;
}

#c2{
  width: 100px;
  height: 100px;
  background: green;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

#c3{
  width: 100px;
  height: 100px;
  background: violet;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 2;
}
